fullSimData/*
fullSimStats/*
fullSimStats0/*
fullSimStats1/*
fullSimStats2/*
fullSimStats3/*
fullSimStats4/*
fullSimStats5/*
fullSimStatsGw/*
fullSimStats_test/*
fullSimStatsLab/*
fullSimStatsCore/*
fullSimStatsAll/*
rumourTimeEvolution/*